.whiteC_ {
    color: white !important;
}

.whiteBG_ {
    background-color: white !important;
}

.offwhiteC_ {
    color: #ebd3c0 !important;
}

.offwhiteBG_ {
    background-color: #ebd3c0 !important;
}

.blackC_ {
    color: #535353 !important;
}

.blackBG_ {
    background-color: #535353 !important;
}

.grayC_ {
    color: #AFAFAF !important;
}

.grayBG_ {
    background-color: #AFAFAF !important;
}

.blueC_ {
    color: #0082BD !important
}

.blueBG_ {
    background-color: #0082BD !important
}

.brownC_ {
    color: #FDF4EB !important;
}

.brownBG_ {
    background-color: #FDF4EB !important;
}