/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Poppins-ExtraLight";
    src: url(assets/font/Poppins/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: "Poppins-Light";
    src: url(assets/font/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(assets/font/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(assets/font/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(assets/font/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(assets/font/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-ExtraBold";
    src: url(assets/font/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: "PlayfairDisplay-Regular";
    src: url(assets/font/Playfair_Display/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: "PlayfairDisplay-Medium";
    src: url(assets/font/Playfair_Display/PlayfairDisplay-Medium.ttf);
}

@font-face {
    font-family: "PlayfairDisplay-SemiBold";
    src: url(assets/font/Playfair_Display/PlayfairDisplay-SemiBold.ttf);
}

@font-face {
    font-family: "PlayfairDisplay-Bold";
    src: url(assets/font/Playfair_Display/PlayfairDisplay-Bold.ttf);
}

@font-face {
    font-family: "PlayfairDisplay-ExtraBold";
    src: url(assets/font/Playfair_Display/PlayfairDisplay-ExtraBold.ttf);
}

body {
    font-family: "Poppins-Regular" !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: "Poppins-Regular" !important;
    margin: 0 !important;
    color: #535353 !important;
}

html {
    background-color: #ffffff;
}

::selection {
    background-color: #0082BD;
}

.ng-pristine .wrap {
    box-sizing: border-box !important;
    height: 40px !important;
    border-radius: 0px !important;
    transition: 0.5s
}

.ng-pristine .wrap.border {
    border: 1px solid #b1b1b1;
}

.ng-pristine .wrap.active {
    border: 1px solid #0082bd !important;
}

.ng-pristine .wrap .flag {
    width: 38px !important;
    margin: 0 !important;
    margin-left: 0rem !important;
}

.ng-pristine .wrap .flag svg {
    margin: 0 !important;
}

.ng-pristine .wrap svg {
    margin-left: 1rem !important;
}

.ng-pristine .text {
    margin-left: 1rem !important;
}